body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.header_area h1{
    font-size: 42px;
    color: #363636;
    font-style: italic;
    margin-bottom: 5px;
}

.main_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.input_area input{
    width: 100%;
    height: 50px;
    border: 1px solid #888888;
    outline: 0;
    padding-left: 15px;
    font-size: 18px;
}
.btn_area input{
    width: 120px;
    height: 55px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background-color: #ffa600;
    color: #fff;
}
.input_div{
   text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #5e022b;
    font-weight: 600;
    font-style: oblique;
}
#error_msg{
    display: none;
}
#error_msg span{
 font-size: 42px;
 color: #ff0000;
}
#error_msg p{
    font-size: 22px;
    color: #ffa600;
}

.footer_area{
    margin-top: 100px;
    display: block;
}

@media only screen and (max-width: 438px) {
    .header_area h1{ font-size: 30px;}
  }

@media only screen and (max-width: 380px) {
    .main_section{ flex-direction: column;}
  }